<div id="welcome" class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/images/welcom-header.jpg');">
        </div>
        <div class="container d-flex justify-content-start">
            <div class="titel-text">
                <div class="title-header">Adressing Mental Health<br> With Virtual Reality!</div>
                <div class="title-content">Neurotops is a complete safe anonymous way that helps<br>
                    you work on your mental challenges.</div>
                <button class="btn btn-round btn-register" type="button">PRE REGISTER</button>
            </div>
        </div>
    </div>

    <div class="section section-about-us">
        <div class="container read-section">
            <div class="text-right about">
                <div class="about-title font-roboto-thin">Neurotops is'nt just a new way of tackling daily challanges</div>
                <div class="about-slog">It's better in every way!</div>
            </div>
            <!-- <div class="separator separator-primary"></div> -->
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-lg-3 text-center" >
                        <img class="read-img" src='assets/img/images/about1.jpg'>           
                        <div class="read-title">
                            Complete<br>
                            Virtual Reality kit
                        </div>
                        <div class="read-content">
                            When you subscribe to our service
                        </div>
                        <button class="btn btn-read" type="button">Read More</button>               
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-lg-3 text-center">
                        <img class="read-img" src='assets/img/images/about2.jpg' >            
                        <div class="read-title">
                            Acess to<br>
                            A.I Training Classes
                        </div>
                        <div class="read-content">
                            Covering fear of heights and more! 
                        </div>
                        <button class="btn btn-read" type="button">Read More</button>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-lg-3 text-center">
                        <img class="read-img" src='assets/img/images/Group319.png'>           
                        <div class="read-title">
                            Hundreds of professionals
                        </div>
                        <div class="read-content">
                            Book a session with one of our therapists 
                        </div>
                        <button class="btn btn-read" type="button">Read More</button>                    
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-lg-3 text-center">
                        <img class="read-img" src='assets/img/images/about4.jpg'>           
                        <div class="read-title">
                            Completely Anonymous
                        </div>
                        <div class="read-content">
                            Choose to interact with complete anonimity without fear of stigma!
                        </div>
                        <button class="btn btn-read" type="button">Read More</button>
                    </div>
                </div>
            </div>
            <div>
                <img src='assets/img/images/Image2.jpg'>    
            </div>
        </div>
    </div>

    <div class="section section-team text-center">
        <div class="container">
            <div class="do-title font-roboto-thin">A.I Classes</div>
            <div class="do-content">Here's some of<span style="color: rgb(72, 47 ,247);"> what we do!</span></div>
            <div class="team">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 content-right">
                        <img class="do-img do-img-right" src='assets/img/images/do4.jpg'>           
                    </div>
                    <div class="col-12 col-sm-12  col-md-6">
                        <img class="do-img do-img-left" src='assets/img/images/do1.jpg'>           
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 content-right">
                        <img class="do-img do-img-right" src='assets/img/images/do2.jpg'>           
                    </div>
                    <div class="col-12 col-sm-12  col-md-6">
                        <img class="do-img do-img-left" src='assets/img/images/do3.jpg'>           
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-contact-us text-center">
        <div class="container">
            <div class="font-roboto-thin social-title">Live traction on social media</div>
            <div class="d-flex justify-content-center">
                    <div>
                        <img class="social-img" src='assets/img/images/facebook.png'>
                        <div>12345</div>
                    </div>
                    <div>
                        <img class="social-img" src='assets/img/images/instagram.png'>
                        <div>12345</div>
                    </div>
                    <div>
                        <img class="social-img" src='assets/img/images/linkedin.png'>
                        <div>12345</div>
                    </div>
                    <div>
                        <img class="social-img" src='assets/img/images/twitter.png'>
                        <div>12345</div>
                    </div>
            </div>
        </div>
    </div>

    <div class="section section-contact-us text-center">
        <div class="container">
            <div class="font-roboto-thin social-title">Reviews</div>
            <div class="team">
                <div class="row review-area">
                    <div class="col-12 col-sm-12 col-md-6">
                        <div class="text-left" style="padding: 10px;">
                            <div class="review-header">
                                <img class="review-img" src='assets/img/images/Avatar.png'>           
                                <span class="review-title">Name Surname</span>
                                <span class="review-time">1h ago</span>
                            </div>
                            <div class="review-content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore et dolore magna aliqua. Ut enim ad minim veniam.
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6">
                        <div class="text-left"  style="padding: 10px;">
                            <div class="review-header">
                                <img class="review-img" src='assets/img/images/Avatar.png'>           
                                <span class="review-title">Name Surname</span>
                                <span class="review-time">1h ago</span>
                            </div>
                            <div class="review-content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore et dolore magna aliqua. Ut enim ad minim veniam.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-contact-us text-left">
        <div class="container">
            <div class="problem-commit">Current Problem</div>
            <div class="font-roboto-thin problem-title">Mental healthcare treatment is expensive</div>
            <div class="problem-content"><span style="color: rgb(72, 47 ,247);">Neurotops</span> provides the solution</div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-7">
                        <img class="problem-img" src='assets/img/images/problem1.jpg'>           
                    </div>
                    <div class="col-12 col-sm-12 col-md-5 problem-detail">
                       <div class="problem-item-detail">
                            <span class="problem-item">Studies show</span> that there is a strong socioeconomic gradient in mental health, with people of lower socioeconomic status having a higher likelihood of developing and experiencing <span class="problem-item1">mental health problems.</span>
                       </div>
                       <div class="problem-item-detail">
                            <span class="problem-item">A session</span> can run up to <span class="problem-item1">£250</span> and you are often forced to choose between falling in <span class="problem-item1">debt or falling apart.</span>
                       </div>
                       <div class="problem-item-detail">
                            <span class="problem-item">Over £193 billion</span> in lost wages with a lifespan decrease by <span class="problem-item1">25 years</span>  on average.
                       </div>
                       <div class="problem-item-detail">
                            <span class="problem-item">260 million people</span> suffer from a form of anxiety without the financial means to get any help.
                       </div>
                       <div class="d-flex justify-content-center">
                            <button class="btn btn-round btn-register" type="button">PRE REGISTER</button>
                        </div>
                    </div>
                </div>
        </div>
    </div>

    <div class="section section-team text-center">
        <div class="container">
            <div class="current-content">Current Problem</div>
            <div class="current-title font-roboto-thin">Normally Visiting a therapist can be quite an anxious time</div>
            
            <div class="row">
                <hr class="step-middle-line">
                <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                    <div class="step-item text-center">
                        <div class="step-item-title">Step 1</div>
                        <div class="step-item-conent">Booking a session</div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                    <div class="step-item text-center">
                        <div class="step-item-title">Step 2</div>
                        <div class="step-item-conent">Going out of your house and Comfort zone</div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                    <div class="step-item text-center">
                        <div class="step-item-title">Step 3</div>
                        <div class="step-item-conent">Have the session either in a VR Clinic or Mainstream one</div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                    <div class="step-item text-center">
                        <div class="step-item-title">Step 4</div>
                        <div class="step-item-conent">Drive back home Subject to drop out rates as high as 75%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-contact-us text-left">
        <div class="container">
            <div class="problem-commit">We got a solution</div>
            <div class="font-roboto-thin problem-title">Access to hundreds of professionals</div>
            <div class="solution-content">from the comfort of your home in complete anonnimaty</div>
            
            <div class="row" style="position: relative;">
                
                <div class="col-12 col-sm-12 col-md-5 solution-detail">
                    <div class="problem-item-detail">
                        <span class="problem-item">We have a large panel of therapists you can choose from, all from the confort of your home!</span>
                    </div>
                    <div class="problem-item-detail" style="margin-top: 70px;">
                        <span class="problem-item">Safe</span>
                    </div>
                    <div class="problem-item-detail">
                        <span class="problem-item">The first session is free</span>
                    </div>
                    <div class="problem-item-detail" style="margin-top: 50px;">
                        <span class="problem-item">260 million people</span> suffer from a form of anxiety without the financial means to get any help.
                    </div>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-round btn-register" type="button">PRE REGISTER</button>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-7">
                    <img class="solution-img" src='assets/img/images/solution.jpg'>           
                </div>
            </div>
        </div>
    </div>

    <div class="section section-team text-center">
        <div class="container">
            <div class="middle-title">How does it<span class="middle-title-blue"> work?</span></div>
        </div>
        <img class="blue-point" src='assets/img/images/bluepoint.png'>           
    </div>

    <div class="section section-contact-us">
        <div class="container">
            <div class="row" style="position: relative;">
                <div class="col-12 col-sm-12 col-md-7 work-step1-detail text-center">
                    <div class="work-step1 text-left">step1</div> 
                    <div class="font-roboto-thin work-step1-title">Free Virtual Reality Headset</div>
                        <div class="work-step1-item">When subscribing to our servisse, you will recieve your <span class="work-step1-item-blue">start up kit</span> in the mail.</div>
                        <div class="work-step1-item">This Virtual Reality Headset , a pir of headphones, instruction and a Q.R Code.</div>
                        <div class="work-step1-item1">Connect instantly to a professional anywhere in the world</div>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-round btn-work-step1" type="button">PRE REGISTER</button>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-5">
                    <img class="work-step1-img" src='assets/img/images/NoPath.png'>           
                    <div class="work-step1-item text-center">A plug and play VR headset that connects with your phone</div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-contact-us">
        <div class="container">
            <div class="row" style="position: relative;">
                <div class="col-12 col-sm-12 col-md-5">
                    <img class="work-step1-img" src='assets/img/images/phone.png'>           
                    <!-- <div class="work-step1-item text-center">A plug and play VR headset that connects with your phone</div> -->
                </div>
                <div class="col-12 col-sm-12 col-md-7 work-step1-detail text-center">
                    <div class="text-center">
                        <div class="work-step1 text-right">step2</div> 
                        <div class="font-roboto-thin work-step1-title">Download the app</div>
                    </div>
                    <img class="red-point" src='assets/img/images/path.png'>    
                    
                    <div class="work-step1-item">By using the provided QR Code, create na account choose between AI based classes<br>that help you conquer challenges such as 
                        <br><span class="work-step1-item-blue">fear of public speaking, heights, flying and many more!</span></div>
                    <div class="work-step1-item">Or choose our premium servisse and connect with therapists for 1-1 Sessions</div>
                    <div class="work-step1-item1">What are you waiting for? Register!</div>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-round btn-work-step1" type="button">PRE REGISTER</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-contact-us">
        <div class="container">
            <div class="row" style="position: relative;">
                <div class="col-12 col-sm-12 col-md-7 work-step1-detail text-center">
                    <div class="work-step1 text-left">step3</div> 
                    <div class="font-roboto-thin work-step1-title">Choose an Avatar!</div>
                        <div class="work-step1-item">Choose an avatar, and have your session in a completely safe 
                            and anonymous away that empowers you <span class="work-step1-item-blue">empowers you</span> to live a better tomorow.</div>
                        <div class="work-step1-item">Our sessions will not be recorded and you can choose between having a regular professional working with you or a new one each time</div>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-round btn-work-step1" style="margin-top:40px;" type="button">PRE REGISTER</button>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-5">
                    <img class="work-step1-img" src='assets/img/images/Image3.png'>           
                    <!-- <div class="work-step1-item text-center">A plug and play VR headset that connects with your phone</div> -->
                </div>
            </div>
        </div>
    </div>

    <div class="section section-contact-us">
        <div class="container">
            <div class="row" style="position: relative;">
                <div class="col-12 col-sm-12 col-md-7">
                    <img class="work-step1-img" src='assets/img/images/Group248.png'>           
                    <!-- <div class="work-step1-item text-center">A plug and play VR headset that connects with your phone</div> -->
                </div>
                <div class="col-12 col-sm-12 col-md-5 work-step1-detail text-center">
                    <div class="text-right">
                        <div class="work-step1 text-right">step4</div> 
                        <div class="font-roboto-thin work-step4-title">Have your session</div>
                        <div class="font-roboto-thin work-step4-content">It's that easy :)</div>
                    </div>
                    <div class="work-step4-item text-right">
                        <div style="margin-bottom: 20px;">
                            Choose between AI based classes or<br> one to one Sessions
                        </div>
                        <div style="margin-bottom: 40px;">safe</div>
                        <div style="margin-bottom: 40px;">The first session is free</div>
                        <div style="margin-bottom: 20px;">cats dominate the wrold<br>yes wrold</div>
                    <div>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-round btn-register" type="button">PRE REGISTER</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-team text-center">
        <div class="container">
            <div class="challenges-title">Face your challenges</div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-4">
                    <div class="challenges-item text-center">
                        <div class="challenges-item-conent">With Neurotops subscription servisse onee can acess a selection of <br> <span class="challenges-item-blue">A.I classes.</span></div>
                        <div class="challenges-price">$9.99</div>
                        <button class="btn btn-round btn-challenges" type="button">SOON</button>
                        <div class="challenges-item-footer">
                            meant to overcome anxieties and day to day challanges.   
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4">
                    <div class="challenges-item text-center">
                        <div class="challenges-item-conent">In addition we offer <span class="challenges-item-blue">1-1 sessions</span> with qualified therapists </div>
                        <div class="challenges-price">$49.99</div>
                        <button class="btn btn-round btn-challenges" type="button">SOON</button>
                        <div class="challenges-item-footer">
                            that can be taken from the confort of your home in a safe and anonymous way.
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4">
                    <img class="challenges-img" src='assets/img/images/image5.png'> 
                </div>
            </div>
        </div>
    </div>

    <div class="section section-team text-center">
        <div class="container">
            <div class="footer-title">Now that you’ve scrolled all the way to the bottom…</div>
            <div class="footer-content">It’s just the right time to stop reading and do some <span class="footer-content-green">typing</span> instead.</div>
            <div class="newletter-blue">Subscribe to our newsletter</div>
            <div class="d-flex justify-content-center">
                <input type="text" class="required-input" placeholder="Required Field" (focus)="focus=true" (blur)="focus=false">
                <button class="btn btn-required" type="button">SEND</button>
            </div>
        </div>
    </div>
</div>
